#root {
    width:100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.contact-table {
    width: 100%;
    border-collapse: collapse;
}
.input-error {
    border: 2px solid red;
}