#root {
    width:100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
    color:gray;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;

}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
}

.user-section {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:20px;
}

.top-section {
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    padding:10px;
    gap: 10px;
}

.toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.toolbar button {
    background-color:mediumpurple;
    
}

.toolbar input {
    background-color:white;
    color:black;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
    color:black;
    padding:20px;
    
    
}

.action-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding:20px;
}

.results-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color:mediumblue;
    padding:20px;
}

    .results-header hr {
        flex: 1;
    }



.input-error {
    border: 2px solid red;
}

